a { color:#0673B9; } 
a:visited { color:#0673B9; } 
a:active { color:#0673B9; } 
a:hover { color:#0673B9; } 
#menu_15070e93 a { text-decoration: none; }
#menu_15070e93_pane { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.392157); }
#menu_15070e93_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_15070e93_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_15070e93_entry:hover { background-color: #494949; color: #FFFFFF !important; }
#menu_15070e93_entry:hover span { color:#FFFFFF !important; }
		.menu_15070e93_mainMenuEntry { text-align: center; }
		.menu_15070e93_mainMenuEntry:hover {	background-color:#494949; }
		.menu_15070e93_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_15070e93 .mobileEntry { display: none; } 
		#menu_15070e93 .normalEntry { display: block; } 
		@media only screen and (max-width:650px) { 
			#menu_15070e93 .mobileEntry { display: none; } 
			#menu_15070e93 .normalEntry { display: none; } 
		}
#menu_1ce2b571 a { text-decoration: none; }
#menu_1ce2b571_pane { background-color: #0673B9; border: 1px solid #E6E6E6; padding-top: 7px; padding-bottom: 7px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_1ce2b571_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_1ce2b571_entry { padding-left: 7px; padding-right: 7px; padding-top: 3px; padding-bottom: 3px; }
#menu_1ce2b571_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_1ce2b571_entry:hover span { color:#FFFFFF !important; }
		.menu_1ce2b571_mainMenuEntry { text-align: center; }
		#menu_1ce2b571 .mobileEntry { display: none; } 
		#menu_1ce2b571 .normalEntry { display: block; } 
		#menu_1ce2b571_menualignmentwrapper{ width:807px; left: calc(50% - 403px);  } 
		@media only screen and (max-width:550px) { 
			#menu_1ce2b571 .mobileEntry { display: none; } 
			#menu_1ce2b571 .normalEntry { display: none; } 
			#menu_1ce2b571_menualignmentwrapper { width:31px; left: calc(50% - 15px);  } 
		}
#table_71ad055a th {  } 
#table_71ad055a td {  } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_a8bef60 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:150px; max-width:1200px; background:none;  }
.textstyle2 { text-align:left; }
#container_2c7116ea { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#img_5d6f4aff { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
#container_29ee7549 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:63px; background-color:#0673B9;  }
#container_29ee7549_padding { margin: 10px; display: block;  }
#container_23dd7d16 { vertical-align: top; position:relative; display: inline-block; float:left; width:167px; min-height:60px; background:none;  }
#container_23dd7d16_padding { margin: 10px 10px 10px 0px;display: block;  }
#button_8272807 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:163px; height:40px; min-width:163px; max-width:163px; background:none;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle3 { font-size:26pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_61f69dfd { vertical-align: top; position:relative; display: inline-block; width:81%; min-height:60px; background:none;  }
#container_61f69dfd_padding { margin: 10px; display: block;  }
#menu_15070e93 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:653px; height:38px; min-width:600px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle4 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.menustyle2 { position:absolute; width:85px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:21px;  }
.textstyle5 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.textstyle6 { font-size:10pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:131px; height:38px; left:95px;  }
.menustyle4 { position:absolute; width:128px; height:38px; left:226px;  }
.menustyle5 { position:absolute; width:54px; height:38px; left:354px;  }
.menustyle6 { position:absolute; width:81px; height:38px; left:408px;  }
.menustyle7 { position:absolute; width:69px; height:38px; left:489px;  }
.menustyle8 { position:absolute; width:84px; height:38px; left:558px;  }
.textstyle7 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#656565;  white-space: nowrap; }
.textstyle8 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000;  white-space: nowrap; }
.textstyle9 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  white-space: nowrap; }
#container_7b56f8c2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:10px; background-color:#FFFFFF;  }
#container_7b56f8c2_padding { margin: 10px; display: block;  }
#container_438337b7 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#0673B9;  }
#menu_1ce2b571 { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:30px; text-align:left; background:none;  }
#menu_1ce2b571_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menustyle9 { position:absolute; width:31px; height:30px; left:0px;  }
.textstyle10 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle10 { position:absolute; width:103px; height:30px; left:0px;  }
.menuentry_text3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:16px;  }
.textstyle11 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.menustyle11 { position:absolute; width:100px; height:30px; left:103px;  }
.menustyle12 { position:absolute; width:48px; height:30px; left:203px;  }
.menustyle13 { position:absolute; width:96px; height:30px; left:251px;  }
.menustyle14 { position:absolute; width:113px; height:30px; left:347px;  }
.menustyle15 { position:absolute; width:87px; height:30px; left:460px;  }
.menustyle16 { position:absolute; width:85px; height:30px; left:547px;  }
.menustyle17 { position:absolute; width:87px; height:30px; left:632px;  }
.menustyle18 { position:absolute; width:88px; height:30px; left:719px;  }
#container_7912be8c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#img_3ecdb7db { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
.textstyle12 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_77363bda { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:2272px; background-color:#FFFFFF;  }
#container_77363bda_padding { margin: 10px; display: block;  }
#table_71ad055a { vertical-align: top; position:relative; display: inline-table; width:100%; height:388px; background:none; table-layout: fixed;  }
#cell_892ebb7 {  }
.textstyle13 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#4F4F4F; font-weight:bold;  }
.textstyle14 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#0673B9; font-weight:bold;  }
#cell_5abfa5b {  }
#container_4938d317 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:28px; background:none;  }
.textstyle15 { font-size:28pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#2B2B2B; font-weight:bold;  }
#cell_7834793e {  }
#container_48390faf { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:10px; background:none;  }
#container_48390faf_padding { margin: 10px; display: block;  }
.textstyle16 { font-size:16pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#656565;  }
.textstyle17 { font-size:14pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#656565;  }
#cell_7834793e {  }
#container_40bc1880 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:1px; background-color:#A8A8A8;  }
#container_4ab48a4b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:20px; background:none;  }
#container_4ab48a4b_padding { margin: 0px 10px 10px 10px;display: block;  }
#container_5b26006a { vertical-align: top; position:relative; display: inline-block; width:6%; min-height:17px; background-color:#0080C0;  }
#container_5b26006a_padding { margin: 3px; display: block;  }
.textstyle18 { font-size:9pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle19 { font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#4F4F4F;  }
.textstyle20 { font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#0080C0; font-weight:bold; text-decoration:underline;  }
#container_3b42e9dd { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:10px; background:none;  }
#container_3b42e9dd_padding { margin: 0px 10px 10px 10px;display: block;  }
.textstyle21 { font-size:9pt; font-family:Arial, Helvetica, sans-serif; color:#4F4F4F; font-weight:bold;  }
#container_579f572f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:1px; background-color:#C4C4C4;  }
#container_4a5a90a8 { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:10px; background:none;  }
#container_4a5a90a8_padding { margin: 0px 10px 10px 10px;display: block;  }
.textstyle22 { font-size:13pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#4F4F4F;  }
.textstyle23 { font-size:13pt; font-family:Arial, Helvetica, sans-serif; color:#232323;  }
#container_b709adc { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:10px; background:none;  }
#container_b709adc_padding { margin: 0px 10px 10px 10px;display: block;  }
.textstyle24 { font-size:13pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#232323;  }
.textstyle25 { font-size:13pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#232323; font-weight:bold;  }
.textstyle26 { font-size:15pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#232323; font-weight:bold;  }
#container_27960a10 { vertical-align: top; position:relative; display: inline-block; width:90%; min-height:85px; background-color:#CECECE;  }
#container_27960a10_padding { margin: 10px; display: block;  }
.textstyle27 { font-size:13pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-style:italic;  }
.textstyle28 { font-size:13pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#232323; font-style:italic;  }
#container_4403b2e { vertical-align: top; position:relative; display: inline-block; width:90%; min-height:85px; background-color:#CECECE;  }
#container_4403b2e_padding { margin: 10px; display: block;  }
#container_433edc8a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#0673B9;  }
#container_433edc8a_padding { margin: 10px; display: block;  }
.textstyle29 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#9E9E9E;  }
#container_3479b30e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:800px; background:none;  }
#container_3479b30e_padding { margin: 10px; display: block;  }
.textstyle30 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold; line-height: 1.5;  }
.textstyle31 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; line-height: 1.5;  }
#img_1a4e855 { position:absolute; left:7%; top:0%; width:8%; background:none; height:auto;  }
#img_2eed27d { position:absolute; left:85%; top:0%; width:8%; background:none; height:auto;  }
@media only screen and (max-width: 650px)
{
		#menu_15070e93 { width:150px;  }
}
@media only screen and (max-width: 640px)
{
		#button_8272807 * span { font-size:12pt;  }
}
